{% extends "crags/base.html" %}

{% block title %}Nouvelle falaise{% endblock %}

{% block content %}
<section class="wrapper style1 align-center fullscreen">
    <div class="inner">
        <h2>Nouvelle falaise</h2>
        <p>Création d'une nouvelle falaise</p>
        <div class="index align-left">
            <section>
                <div class="content">
                    <form method="post" action="{% url 'crags:crag_create' %}">
                        <div class="fields">
                        {% csrf_token %}
                        {{ form }}
                        </div>
                        <p class="major">Attention votre falaise ne sera pas visible sur le site avant vérification</p>
                        <ul class="actions"><input type="submit" value="Ajouter"></ul>
                    </form>
                </div>
            </section>
        </div>
    </div>
</section>
{% endblock %}