{% extends "crags/base.html" %}

{% block title %}{{ crag.name|title }}{% endblock %}

{% block content %}
<section class="banner style1 orient-left content-align-left image-position-right fullscreen onload-image-fade-in onload-content-fade-right">
    <div class="content">
        <h1>{{ crag.name|title }}</h1>
        {% load static %}
        <p class="major"><img src="{% static crag.country.flag %}" alt="" />  {{ crag.country.name|title }}</p>
        <ul class="actions stacked">
            <li><a href="#story" class="button big wide smooth-scroll-middle">Histoire</a></li>
            <li><a href="#anecdote" class="button big wide smooth-scroll-middle">Anecdote</a></li>
            <li><a href="#routes" class="button big wide smooth-scroll-middle">Liste des voies</a></li>
        </ul>
    </div>
    <div class="image">
        {% load static %}
        <img src="{% static 'crags/images/banner.jpg' %}" alt="" />
    </div>
</section>

<section class="spotlight style1 orient-right content-align-left image-position-center onscroll-image-fade-in" id="story">
    <div class="content">
        <h2>Histoire de la falaise</h2>
        <p></p>
        <ul class="actions stacked">
            <li><a href="#" class="button">Learn More</a></li>
        </ul>
    </div>
    <div class="image">
        {% load static %}
        <img src="{% static 'crags/images/spotlight01.jpg' %}" alt="" />
    </div>
</section>

<section class="spotlight style1 orient-left content-align-left image-position-center onscroll-image-fade-in" id="anecdote">
    <div class="content">
        <h2>Anecdote</h2>
        <p></p>
        <ul class="actions stacked">
            <li><a href="#" class="button">Learn More</a></li>
        </ul>
    </div>
    <div class="image">
        {% load static %}
        <img src="{% static 'crags/images/spotlight02.jpg' %}" alt="" />
    </div>
</section>

<section class="wrapper style1 fullscreen" id="routes">
    <div class="inner">
        <h2 class="align-center">Liste des voies</h2>
        <div class="table-wrapper">
            <table>
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th></th>
                        <th>Nombre de voies</th>
                    </tr>
                </thead>
                <tbody>
                    {% for route in crag.route_set.all %}
                        <tr data-href="{% url 'crags:route_detail' crag.id route.id %}" >
                            <td>{{ route.name|title }}</td>
                            <td></td>
                            <td></td>
                        </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="2"></td>
                        <td></td>
                    </tr>
                </tfoot>
            </table>
            <a href="{% url 'crags:route_create' crag.id %}" class="button">Ajouter une voie</a>
        </div>
    </div>
</section>
{% endblock %}