{% extends "crags/base.html" %}

{% block title %}Falaises{% endblock %}

{% block content %}
<section class="wrapper style1 fullscreen">
    <div class="inner">
        <h2 class="align-center">Liste des falaises</h2>
        <div class="table-wrapper">
            <table>
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Pays</th>
                        <th>Nombre de voies</th>
                    </tr>
                </thead>
                <tbody>
                    {% for crag in crag_list %}
                        <tr data-href="{% url 'crags:crag_detail' crag.id %}" >
                            <td>{{ crag.name|title }}</td>
                            {% load static %}
                            <td><img src="{% static crag.country.flag %}" alt="" />  {{ crag.country.name|title }}</td>
                            <td>{{ crag.route_set.count }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="2"></td>
                        <td><a href="{% url 'crags:crag_create' %}" class="button">Ajouter une falaise</a></td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</section>
{% endblock %}