<h1>{{ crag.name }}</h1>
<h3>{{ crag.address }}</h3>

{% if route_list %}
    <table id="routes">
        {% for route in route_list %}
            <tr>
                <td>{{ route.name }}</td>
                <td><a href="{% url 'crags:route_index' crag.id route.id %}">detail</a></td>
            </tr>
        {% endfor %}
    </table>
    {# .... **Now the pagination section** .... #}
    {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="/climbers?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="/climbers?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
{% else %}
    <p>No routes found!!! :(</p>
{% endif %}


{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}