{% extends "crags/base.html" %}

{% block title %}{{ route.name|title }}{% endblock %}

{% block content %}
<section class="banner style1 orient-left content-align-left image-position-left fullscreen onload-image-fade-in onload-content-fade-right">
    <div class="content">
        <header>
            <h1>{{ route.name|title }}</h1>
            <p>{{ route.crag.name|title }}</p>
        </header>
        <ul class="actions stacked">
            <li><a href="#description" class="button big wide smooth-scroll-middle">Description</a></li>
        </ul>
        <ul class="actions stacked">
            <li><a href="#nameStory" class="button big wide smooth-scroll-middle">Histoire du nom</a></li>
        </ul>
        <ul class="actions stacked">
            <li><a href="#anecdote" class="button big wide smooth-scroll-middle">Anecdote</a></li>
        </ul>
    </div>
    <div class="image">
        {% load static %}
        <img src="{% static 'crags/images/banner.jpg' %}" alt="" />
    </div>
</section>

<!-- Two -->
<section class="spotlight style1 orient-right content-align-left image-position-center onscroll-image-fade-in onscroll-content-fade-left" id="description">
    <div class="content">
        <h2>Description</h2>
        {% if route.description %}
            <p>{{ route.description }}</p>
            <ul class="actions stacked">
                <li><a href="#" class="button">Modifier</a></li>
            </ul>
        {% else %}
            <p>Aucune description de la voie n'est disponible</p>
            <ul class="actions stacked">
                <li><a href="#" class="button">Ajouter une description</a></li>
            </ul>
        {% endif %}
    </div>
    <div class="image">
        {% load static %}
        <img src="{% static 'crags/images/spotlight01.jpg' %}" alt="" />
    </div>
</section>

<!-- Three -->
<section class="spotlight style1 orient-left content-align-left image-position-center onscroll-image-fade-in onscroll-content-fade-right" id="nameStory">
    <div class="content">
        <h2>Histoires du nom</h2>
        {% if route.namestory_set %}
            {% for name_story in route.namestory_set.all %}
                {% if name_story.isValidated %}
                    <div class="box">
                        <p>{{ name_story.story }}</p>
                        <h4>Source</h4>
                        <blockquote>{{ name_story.source }}</blockquote>
                        <!--<a href="{% url 'crags:name_story_detail' name_story.id %}" class="button">Details</a>-->
                    </div>
                {% endif %}
            {% endfor %}
        {% else %}
            <p>Aucune histoire n'est disponible pour cette voie</p>
        {% endif %}
        <ul class="actions stacked">
            <li><a href="{% url 'crags:name_story_create' route.crag_id route.id %}" class="button">Ajouter une histoire</a></li>
        </ul>
    </div>
    <div class="image">
        {% load static %}
        <img src="{% static 'crags/images/spotlight02.jpg' %}" alt="" />
    </div>
</section>

<!-- Four -->
<section class="spotlight style1 orient-right content-align-left image-position-center onscroll-image-fade-in onscroll-content-fade-left" id="anecdote">
    <div class="content">
        <h2>Anecdotes</h2>
        {% if route.anecdote_set %}
            {% for anecdote in route.anecdote_set.all %}
                {% if anecdote.isValidated %}
                    <div class="box">
                        <p>{{ anecdote.anecdote }}</p>
                        <h4>Source</h4>
                        <blockquote>{{ anecdote.source }}</blockquote>
                        <!--<a href="{% url 'crags:name_story_detail' anecdote.id %}" class="button">Details</a>-->
                    </div>
                {% endif %}
            {% endfor %}
        {% else %}
            <p>Aucune anecdote n'est disponible pour cette voie</p>
        {% endif %}
        <ul class="actions stacked">
            <li><a href="{% url 'crags:anecdote_create' route.crag_id route.id %}" class="button">Ajouter une anecdote</a></li>
        </ul>
    </div>
    <div class="image">
        {% load static %}
        <img src="{% static 'crags/images/spotlight03.jpg' %}" alt="" />
    </div>
</section>
{% endblock %}