{% extends "crags/base.html" %}

{% block title %}Nouvelle voie{% endblock %}

{% block content %}
<section class="wrapper style1 align-center fullscreen">
    <div class="inner">
        <h2>Nouvelle Voie</h2>
        <p>Ajout d'une voie de la falaise {{ crag.name|title }}</p>
        <div class="index align-left">
            <section>
                <div class="content">
                    <form method="post" action="{% url 'crags:route_create' crag.id %}">
                        <div class="fields">
                        {% csrf_token %}
                        {{ form }}
                        </div>
                        <p class="major">Attention votre voie ne sera pas visible sur le site avant vérification</p>
                        <ul class="actions"><input type="submit" value="Ajouter"></ul>
                    </form>
                </div>
            </section>
        </div>
    </div>
</section>
{% endblock %}